h2 {
  padding: 20px 0px;
}

h4 {
  font-size: 1.2rem;
}

sup {
  line-height: 0;
}

/* Elements */
.main {
  margin-top: 5rem;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.large-grid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card {
  background-color: var(--card-color-background);
  border-radius: 5px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  transition: all 500ms;
}

/* Homepage */
.information {
  height: 550px;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}
.information .grid {
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.information .card {
  position: relative;
  top: 80px;
  aspect-ratio: 1/1;
  overflow: visible;
  background-image: url("/static/muller.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.banner p {
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 1em;
}
.banner h1 {
  margin: 8% 0;
}
.banner :last-child {
  margin-bottom: 8%;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 50px auto;
  text-align: center;
  color: var(--blue);
  fill: var(--yellow);
}
.summary h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
.summary svg {
  padding: 10px 0;
  width: 80%;
}
.summary p {
  font-size: 1.1rem;
}
.summary .card {
  padding: 30px;
  flex: 1 1 0;
  min-width: 250px;
}

.board-section {
  align-items: unset;
  padding-bottom: 10rem;
  grid-template-columns: repeat(3, minmax(250px, 700px));
}
.board-section:hover .overlay-text {
  will-change: transform, filter;
}

.board {
  overflow: hidden;
  border-radius: 10px;
  transition: transform var(--transition-speed);
}
.board img {
  transition: filter var(--transition-speed);
}
.board .overlay {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template: "container";
}
.board .overlay > * {
  grid-area: container;
}
.board a {
  text-decoration: none;
}
.board .overlay-text {
  color: white;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.2ch;
  font-family: var(--font-family);
  filter: opacity(0);
  transition: filter var(--transition-speed);
}
.board:hover {
  transform: scale(1.1);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}
.board:hover img {
  filter: brightness(50%);
}
.board:hover .overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.board:hover .overlay-text {
  filter: opacity(1);
}

/* Pigment pages */
.pigment-section .grid {
  align-items: end;
}

.pigment {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
}
.pigment div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pigment .pigment-information {
  display: none;
}
.pigment .close-button {
  display: none;
}

.ellipsis-manufacturer > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pigment-hover {
  position: relative;
  transition: transform var(--transition-speed);
}
.pigment-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transition: opacity var(--transition-speed);
}
.pigment-hover:hover {
  transform: translateY(-3px) scale(1.1);
  background: #fbfbfb;
}
.pigment-hover:hover:before {
  opacity: 1;
}

/* Pigment information modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal .pigment {
  position: absolute;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;
  top: 120px;
  bottom: unset;
}
.modal .pigment h4 {
  font-size: 2rem;
}
.modal .pigment p {
  font-size: 1.2rem;
  margin: 1rem 0;
}
.modal .pigment div {
  overflow: hidden;
}
.modal .pigment .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  fill: var(--yellow);
  background-color: var(--blue);
  aspect-ratio: 1/1;
  font-size: x-large;
  font-weight: bold;
  transition: transform calc(var(--transition-speed) / 2);
  top: 100px;
  /* Make sure the button is always on the right of the modal
  calculate: margin width:          100vw - size of modal
             left margin width:     / 2 
                                    + size of the modal 
                                    - 50px */
  left: calc((100vw - clamp(200px, 1200px, 90%)) / 2 + clamp(200px, 1200px, 90%) - 30px);
}
.modal .pigment .close-button:hover {
  transform: scale(1.1) rotate(90deg);
}
.modal .pigment .pigment-information {
  display: block;
}
.modal .pigment .pigment-information table {
  border-collapse: collapse;
}
.modal .pigment .pigment-information tr:nth-child(odd) {
  background-color: #eee;
}
.modal .pigment .pigment-information td {
  padding: 3px 5px;
}
.modal .pigment .pigment-information .alias {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1ch;
}

/* Media queries */
@media screen and (max-width: 967px) {
  .information .card {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .logo-text {
    display: none;
  }

  .board-section {
    grid-template-columns: repeat(2, minmax(200px, 700px));
  }

  .modal .pigment {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    top: unset;
  }

  .navbar-nav {
    margin: 0;
  }

  .logo {
    margin: 0;
  }
  .logo:hover svg {
    width: 2rem;
    transform: rotate(0deg);
  }

  .logo-text {
    display: none;
  }

  .nav-link {
    justify-content: center;
  }
  .nav-link:hover .resize-container {
    overflow: hidden;
    width: 0;
  }

  .main {
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .container {
    width: clamp(200px, 1200px, 95%);
  }

  .information {
    margin-bottom: 50px;
  }

  .modal .pigment {
    overflow-y: auto;
    top: 10px;
    bottom: 100px;
  }
  .modal .pigment table {
    margin-bottom: 30px;
  }
  .modal .pigment .close-button {
    top: 25px;
  }

  .summary h3 {
    font-size: 1.5rem;
  }
  .summary svg {
    width: 30%;
    padding: 0;
  }
  .summary .card {
    padding: 8px;
  }
  .summary .my-2 {
    margin: 0.5rem 0;
  }
}

/*# sourceMappingURL=style.css.map */
