/* General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

  --text-nav-primary: #b6b6b6;
  --text-nav-secondary: #ececec;
  --bg-nav-primary: #23232e;
  --bg-nav-secondary: #141418;
  --scrollbar-thumb-color: #6649b8;
  --scrollbar-track-color: #1e1e24;
  --transition-speed: 600ms;

  --card-color-background: #f9f9f9;
  --card-color-text: #333;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #6649b8 #1e1e24;
}

body {
  background-color: #fff;
  color: #333;
  width: 100%;
  margin: 0px;
  display: flex;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
  
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: clamp(400px, 1200px, 100%);
  margin: 0 auto 0 auto;
}

/* Navbar */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-nav-primary);
  color: var(--text-nav-primary);
  overflow-y: auto;
  top: 0;
  width: 100%;
  z-index: 100;

  /* -webkit-backface-visibility: hidden;
  -webkit-perspective: none; */
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 2rem;
  overflow: hidden;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  color: var(--text-nav-primary);
  text-decoration: none;
  filter: opacity(0.8);
  transition-property: -webkit-filter, -moz-filter, -ms-filter, filter, color, background-color;
  transition-duration: var(--transition-speed);
}

.nav-link:hover {
  filter: opacity(1);
  background-color: var(--bg-nav-secondary);
  color: var(--text-nav-secondary);
}

body {
  --calc-width: auto;
}

.link-text {
  overflow: hidden;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding-right: 1rem;
}

.resize-container {
  width: 0;
  overflow: hidden;
  transition: width var(--transition-speed);
}

.navbar:hover .resize-container {
  will-change: width;
}

.nav-link:hover .resize-container {
  width: var(--calc-width);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  align-self: flex-start;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.logo svg {
  width: 4rem;
  transform: rotate(0deg);
  transition: width var(--transition-speed), transform var(--transition-speed);
}

.logo:hover svg {
  width: 5rem;
  transform: rotate(-180deg);
}

.logo-text {
  max-width: 10rem;
}

#logo-link {
  filter: opacity(0.7);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    top: unset;
  }

  /* .logo {
    display: none;
  } */

  .logo-text {
    display: none;
  }

  .nav-link {
    justify-content: center;
  }

  .main {
    margin: 0;
  }
}