
h2 {
  padding: 20px 0px;
}
  
h4 {
  font-size: 1.2rem;
}

sup {
  line-height: 0;
}

/* Elements */
main {
  margin-top: 5rem;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.card {  
  background-color: var(--card-color-background);
  border-radius: 5px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  transition: all 500ms;
}

/* Homepage */
// Homepage information banner
.information {
  height: clamp(300px, 550px, 700px);
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 150px;

  .grid {
    gap: 50px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .card {
    position: relative;
    top: 80px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    overflow: visible; // Make the image go over the banner
    background-image: url("/static/muller.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 15px;
  }

  p { 
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 1em;
  }
  
  h1 {
    margin: 8% 0;
  }
  
  :last-child {
    margin-bottom: 8%;
  }
}

// Summary using three info boxe
.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 50px auto;
  text-align: center;
  color: var(--blue);
  fill: var(--yellow);

  h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  svg {
    padding: 10px 0;
    width: 80%;
  }

  p {
    font-size: 1.1rem;
  }

  .card {
    padding: 30px;
    flex: 1 1 0;
    min-width: 250px;
  }
}

// Boards
.board-section {
  align-items: unset;
  grid-template-columns: repeat(3, minmax(150px, 700px));

  &:hover .overlay-text {
    will-change: transform, filter;
  }
}

.board {
  overflow: hidden;
  border-radius: 10px;
  transition: transform var(--transition-speed);
  
  img {
    transition: filter var(--transition-speed);
  }

  .overlay {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template: "container";
  }

  .overlay > * {
    grid-area: container;
  }

  a {
    text-decoration: none;
  }

  .overlay-text {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.2ch;
    font-family: var(--font-family);
    filter: opacity(0);
    transition: filter var(--transition-speed);
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    
    img {
      filter: brightness(50%);
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .overlay-text {
      filter: opacity(1);
    }
  }
}

/* Pigment pages */

// Align squares to bottom to align regardless of title size
.pigment-section {
  .grid {
    align-items: end;
  }
}

.pigment {
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  // Information in the modal is hidden by default
  .pigment-information, .close-button {
    display: none;
  }
}

// Cut off long manufacturer information
.ellipsis-manufacturer > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pigment-hover{
  position: relative;
  transition: transform var(--transition-speed);

  // Faster animation by pre-rendering the shadow
  &:before {
    opacity: 0; // start hidden
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transition: opacity var(--transition-speed);
  }

  &:hover {
    transform: translateY(-3px) scale(1.1);
    background: #fbfbfb;

    &:before {
      opacity: 1;
    }
  }
}

/* Pigment information modal */
// Adapted from https://www.w3schools.com/howto/howto_css_modals.asp
.modal {
  display: flex; // Center on the page
  justify-content: center;
  align-items: center;

  position: fixed; // Stay in place
  z-index: 1; // Sit on top
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0,0,0); // Fallback color
  background-color: rgba(0,0,0,0.8); // Black w/ opacity

  .pigment {
    position: absolute;
    padding: clamp(10px, 30px, 50px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;
    top: 120px;
    bottom: unset;
    
    h4 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    div {
      overflow: hidden;
    }

    .close-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 50px;
      width: 50px;
      padding: 5px;
      border-radius: 50%;
      fill: white;
      background-color: var(--blue);
      font-size: x-large;
      font-weight: bold;
      transition: transform calc(var(--transition-speed) / 2);

      top: 100px;
      /* Make sure the  close button is always on the right of the modal
      calculate: margin width:          100vw - size of modal
                 left margin width:     / 2 
                                        + size of the modal 
                                        - offset */
      left: calc(
        (100vw - clamp(200px, 1200px, 90%)) 
        / 2 
        + clamp(200px, 1200px, 90%) 
        - 30px);

      &:hover {
        transform: scale(1.1) rotate(90deg);
      }
    }

    // Show the additional information
    .pigment-information {
      display: block;

      table {
        border-collapse: collapse;
      }

      // Change background of every other row for clearer separation
      tr:nth-child(odd) {
        background-color: #eee;
      }

      td {
        padding: 3px 5px;
      }

      .alias {
        font-weight: bold;
        font-style: italic;
        letter-spacing: .1ch;
      }
    }

  }
}


/* Media queries */

@media screen and (max-width: 967px) {
  // Remove image in information section and set the grid to a single column
  .information {
    .card {
      display: none; 
    }

    .grid {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }
}

@media screen and (max-width: 800px) {
  // Logo text removal to allow full navbar
  .logo-text {
    display: none; 
  }

  // Reduce boards from 3 to 2 columns to prevent overflow
  .board-section {
    grid-template-columns: repeat(2, minmax(100px, 700px));
    gap: clamp(10px, 20px, 30px);
  }

  // Change information modal from 2 to 1 column
  .modal {
    .pigment {
      display: block;
    }
  }
}


// Move navbar to bottom of the screen on small devices and reduce white space
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    top: unset;
  }
  
  .navbar-nav {
    margin: 0;
  }

  .logo {
    margin: 0;

    &:hover svg {
      width: 2rem;
      transform: rotate(0deg);
    }
  }

  .logo-text {
    display: none;
  }

  .nav-link {
    justify-content: center;

    &:hover .resize-container {
      overflow: hidden;
      width: 0;
    }
  }

  main {
    margin-top: 0;
    margin-bottom: 6rem;
  }

  .content {
    margin-bottom: 0;
  }

  .container {
    width: clamp(200px, 1200px, 95%);
  }

  .information {
    margin-bottom: 50px;
  }
  
  .modal {
    .pigment {
      overflow-y: auto;
      top: 10px;
      bottom: 100px;
      padding: clamp(5px, 15px, 50px);
      
      table {
        margin-bottom: 30px;
      }

      .close-button {
        top: 25px;
      }
    }
  }

  .summary {
    h3 {
      font-size: 1.5rem;
    }

    svg {
      width: 30%;
      padding: 0;
    }

    .card {
      padding: 8px;
    }

    .my-2 {
      margin: 0.5rem 0;
    }
  }

  .pigment-hover {
    &:before {
      box-shadow: unset;
      transition: unset;
    }

    &:hover {
      transform: unset;

      &:before {
        opacity: 0;
      }
    }
  }
}