
h2 {
  padding: 20px 0px;
}
  
h4 {
  font-size: 1.2rem;
}

sup {
  line-height: 0;
}

/* Elements */
.main {
  // height: 100vh;
  margin-top: 5rem;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.large-grid {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card {  
  background-color: var(--card-color-background);
  border-radius: 5px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  transition: all 500ms;
}

/* Homepage */
// Homepage information banner
.information {
  height: clamp(300px, 550px, 700px);
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 150px;

  .grid {
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .card {
    position: relative;
    top: 80px;
    aspect-ratio: 1 / 1;
    overflow: visible;
    background-image: url("/static/muller.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
}
  
.banner {
  p { 
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 1em;
  }

  h1 {
    margin: 8% 0;
  }

  :last-child {
    margin-bottom: 8%;
  }
}

// Summary using three info boxe
.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 50px auto;
  text-align: center;
  color: var(--blue);
  fill: var(--yellow);

  h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  svg {
    padding: 10px 0;
    width: 80%;
  }

  p {
    font-size: 1.1rem;
  }

  .card {
    padding: 30px;
    flex: 1 1 0;
    min-width: 250px;
  }
}

// Boards
.board-section {
  align-items: unset;
  padding-bottom: 10rem;
  grid-template-columns: repeat(3, minmax(250px, 700px));

  &:hover .overlay-text {
    will-change: transform, filter;
  }
}

.board {
  overflow: hidden;
  border-radius: 10px;
  transition: transform var(--transition-speed);
  
  img {
    transition: filter var(--transition-speed);
  }

  .overlay {
    display: grid;
    place-items: center;
    place-content: center;
    grid-template: "container";
  }

  .overlay > * {
    grid-area: container;
  }

  a {
    text-decoration: none;
  }

  .overlay-text {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.2ch;
    font-family: var(--font-family);
    filter: opacity(0);
    transition: filter var(--transition-speed);
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    
    img {
      filter: brightness(50%);
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .overlay-text {
      filter: opacity(1);
    }
  }
}

/* Pigment pages */
.pigment-section {
  .grid {
    align-items: end;
  }
}

.pigment {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem; */
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .pigment-information {
    display: none;
  }
}

.ellipsis-manufacturer > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pigment-hover{
  position: relative;
  transition: transform var(--transition-speed);

  // Faster animation by pre-rendering the shadow
  &:before {
    opacity: 0; // start hidden
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transition: opacity var(--transition-speed);
  }

  &:hover {
    transform: translateY(-3px) scale(1.1);
    background: #fbfbfb;

    &:before {
      opacity: 1;
    }
  }
}

/* The Modal (background) */
// Adapted from https://www.w3schools.com/howto/howto_css_modals.asp
.modal {
  display: flex; // Center on the page
  justify-content: center;
  align-items: center;

  position: fixed; // Stay in place
  z-index: 1; // Sit on top
  left: 0;
  top: 0;
  width: 100%; // Full width
  height: 100%; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgb(0,0,0); // Fallback color
  background-color: rgba(0,0,0,0.8); // Black w/ opacity

  .pigment {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;

    
    h4 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    div {
      overflow: hidden;
    }

    .pigment-information {
      display: block;

      .alias {
        font-weight: bold;
        font-style: italic;
        letter-spacing: .1ch;
      }
    }

  }
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Media queries */
// Medium screens
@media screen and (max-width: 967px) {
  .information .card {
    display: none;
  }
}

// Logo text removal to allow full navbar
// @media screen and (max-width: 777px) {
//   .logo-text {
//     display: none;
//   }
// }

// Small screens
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    top: unset;
  }
  
  .navbar-nav {
    margin: 0;
  }

  .logo {
    margin: 0;

    &:hover svg {
      width: 2rem;
      transform: rotate(0deg);
    }
  }

  .logo-text {
    display: none;
  }

  .nav-link {
    justify-content: center;

    &:hover .resize-container {
      overflow: hidden;
      width: 0;
    }
  }

  .main {
    margin: 0;
  }

  .container {
    width: clamp(200px, 1200px, 95%);
  }

  .information {
    margin-bottom: 50px;
  }

  .summary {
    h3 {
      font-size: 1.5rem;
    }

    svg {
      width: 30%;
      padding: 0;
    }

    .card {
      padding: 8px;
    }

    .my-2 {
      margin: 0.5rem 0;
    }
  }

  .board-section {
    grid-template-columns: repeat(2, minmax(200px, 700px));
  }
}