/* General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  
:root {
  font-size: 100%;
  --font-family: 'Open Sans', sans-serif;
  font-family: var(--font-family);

  // Navbar colours
  --text-nav-primary: #b6b6b6;
  --text-nav-secondary: #ececec;
  --bg-nav-primary: #23232e;
  --bg-nav-secondary: #141418;
  --scrollbar-track-color: #1e1e24;
  --transition-speed: 600ms;

  // Personal theme colours
  --blue: #012e73;
  --yellow: #fcb702;
  --light-blue: #69a6c4;
  --red: #dd2f19;
  --green: #007e52;
  --brown: #a53915;

  // Card colours
  --card-color-background: #f9f9f9;

  // Material shadows
  --shadow-key-umbra-opacity: 0.20;
  --shadow-key-penumbra-opacity: 0.14;
  --shadow-ambient-shadow-opacity: 0.12;

  // Firefox scrollbar
  scrollbar-width: thin;
  scrollbar-color: #fcb702 #1e1e24;
}

body {
  background-color: #fff;
  color: #333;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 0;
  --calc-width: auto;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
  
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

img {
  max-width: 100%;
  max-height: 100%;
}

// Container to make sure the content does not stretch too much on a large screen
.container {
  width: clamp(200px, 1200px, 90%);
  margin: 0 auto;
}

/* Navbar */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-nav-primary);
  color: var(--text-nav-primary);
  top: 0;
  width: 100%;
  z-index: 100;
  overflow-x: auto;
  
  &:hover .resize-container {
    will-change: width;
  }
}

.navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 2rem;
  overflow-y: auto;
}

#blue {
  fill: var(--blue);
}

#red {
  fill: var(--red);
}

#green {
  fill: var(--green);
}

#yellow {
  fill: var(--yellow);
}

#brown {
  fill: var(--brown);
}

.logo {
  align-self: flex-start;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;

  &:hover svg {
    width: 4rem;
    transform: rotate(-180deg);
  }

  svg {
    transform: rotate(0deg);
    transition: width var(--transition-speed), transform var(--transition-speed);
  }
}

.logo-text {
  max-width: 10rem;
}

#logo-link {
  filter: opacity(0.7);
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  color: var(--text-nav-primary);
  text-decoration: none;
  filter: opacity(0.8);
  transition-property: -webkit-filter, -moz-filter, -ms-filter, filter, color, background-color;
  transition-duration: var(--transition-speed);

  &:hover {
    filter: opacity(1);
    background-color: var(--bg-nav-secondary);
    color: var(--text-nav-secondary);

    .resize-container {
      width: var(--calc-width);
    }
  }

  svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
}

.link-text {
  overflow: hidden;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  padding-right: 1rem;
}

.resize-container {
  width: 0;
  overflow: hidden;
  transition: width var(--transition-speed);
}

/* Shadows */
.focus-shadow {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

.shadow-2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
              0 3px 1px -2px rgba(0, 0, 0, var(--shadow-key-umbra-opacity)),
              0 1px 5px 0 rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity));
}

.shadow-3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
              0 3px 3px -2px rgba(0, 0, 0, var(--shadow-key-umbra-opacity)),
              0 1px 8px 0 rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity));
}

.shadow-4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
              0 1px 10px 0 rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity)),
              0 2px 4px -1px rgba(0, 0, 0, var(--shadow-key-umbra-opacity));
}

.shadow-6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
              0 1px 18px 0 rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity)),
              0 3px 5px -1px rgba(0, 0, 0, var(--shadow-key-umbra-opacity));
}

.shadow-8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
              0 3px 14px 2px rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity)),
              0 5px 5px -3px rgba(0, 0, 0, var(--shadow-key-umbra-opacity));
}

.shadow-16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
              0  6px 30px 5px rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity)),
              0  8px 10px -5px rgba(0, 0, 0, var(--shadow-key-umbra-opacity));
}

.shadow-24dp {
  box-shadow: 0  9px 46px  8px rgba(0, 0, 0, var(--shadow-key-penumbra-opacity)),
              0 11px 15px -7px rgba(0, 0, 0, var(--shadow-ambient-shadow-opacity)),
              0 24px 38px  3px rgba(0, 0, 0, var(--shadow-key-umbra-opacity));
}

/* Margins */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 4rem;
}