{% extends "layout.html" %}

{% block body %}
  <div class="main pigment-section container">

    <h2>Black</h2>

    <section class=" card grid">

      <div class="pigment-hover" id="test">
        <div class="pigment">
          <h4>Bone black</h4>
          <p>Kremer 47100</p>
          <div class="pigment-information">
            <p class="alias">Pigment black 9  ·  C.I. 77267</p>
            <hr />
            <p>
              Bone black is an organic black pigment created from (animal) bones.
            </p>
          </div>
          <div>
            <img src="..\static\images\bw_bone_black.gif">
            <img src="..\static\images\bw_bone_black_lw.gif">
          </div>
        </div>
      </div>

      <div class="pigment">
        <h4>Ivory black </h4>
        <p>Kremer 12000</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_ivory_black_kremer.gif">
          <img src="..\static\images\bw_ivory_black_kremer_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Ivory black</h4>
        <p>Mayerne</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_ivory_black_mayerne.gif">
          <img src="..\static\images\bw_ivory_black_mayerne_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Lamp black</h4>
        <p>Kremer 47250</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_lamp_black.gif">
          <img src="..\static\images\bw_lamp_black_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Vine black</h4>
        <p>Kremer 47000</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_vine_black.gif">
          <img src="..\static\images\bw_vine_black_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Charcoal from beech</h4>
        <p>Kremer 47800</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_charcoal.gif">
          <img src="..\static\images\bw_charcoal_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Black chalk</h4>
        <p>&nbsp;</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_black_chalk.gif">
          <img src="..\static\images\bw_black_chalk_lw.gif">
        </div>
      </div>

    </section>

    <h2>White</h2>

    <section class="card grid">
      
      <div class="pigment">
        <h4>Lead white</h4>
        <p>Rublev #1</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_lead_white_rublev.gif">
          <img src="..\static\images\bw_lead_white_rublev_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Lead white</h4>
        <p>Stack process, Wallert</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_lead_white_stack.gif">
          <img src="..\static\images\bw_lead_white_stack_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Lead white</h4>
        <p>Stack process, Natural Pigments</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_lead_white_natural.gif">
          <img src="..\static\images\bw_lead_white_natural_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Lead white</h4>
        <p>RMA</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_lead_white_rma.gif">
          <img src="..\static\images\bw_lead_white_rma_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Gypsum</h4>
        <p>&nbsp;</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_gypsum.gif">
          <img src="..\static\images\bw_gypsum_lw.gif">
        </div>
      </div>

      <div class="pigment">
        <h4>Champagne chalk</h4>
        <p>&nbsp;</p>
        <div class="pigment-img">
          <img src="..\static\images\bw_champagne_chalk.gif">
          <img src="..\static\images\bw_champagne_chalk_lw.gif">
        </div>
      </div>

    </section>

  </div>

{% endblock %}