{% extends "layout.html" %}

{% block body %}
    
  <!-- Page content -->
  <div class="main">
    
    <!-- Information banner -->
    <div class="information">
      <div class="container grid">
        <div class="banner">
          <h1>References for 17<sup>th</sup> century paints</h1>
          <p class="banner-text">
            The pigment checker is an attempt to create a reference collection of 17<sup>th</sup> century Dutch paint samples by the <em>Technical Art History</em> master's at the University of Amsterdam.
          </p>
          <p class="banner-text">
              Where possible, the paints have been created according to the methods described by painting treatises of the time. Pigments were mixed with as little linseed oil as possible using a muller to create a buttery smooth paint. 
          </p>
        </div>

        <div class="card shadow-4dp"></div>
      </div>
    </div>

    <!-- Card summaries -->
    <div class="summary container my-2">
      <div class="card">
        <h3 class="my-2">Colour</h3>
        <svg aria-hidden="true" focusable="false">
          <!-- Courtesy of FontAwesome -->
          <use href='{{ url_for("static", filename="palette-solid.svg") }}#palette'/>
        </svg>
        <p class="my-2">
          The painted squares can be used to examine the colour that specific paints produce when mixed with linseed oil.
        </p>
      </div>
      
      <div class="card">
        <h3 class="my-2">Hiding power</h3>
        <svg aria-hidden="true" focusable="false">
          <!-- Courtesy of FontAwesome -->
          <use href='{{ url_for("static", filename="eye-dash-solid.svg") }}#eye'/>
        </svg>
        <p class="my-2">
          To demonstrate the hiding power of each paint, three different types of underdrawing are shown as black lines. Each pigment checker square is painted lightly on the left and thicker on the right.
        </p>
      </div>

      <div class="card">
        <h3 class="my-2">Mixing</h3>
        <svg aria-hidden="true" focusable="false">
          <!-- Courtesy of FontAwesome, slimmed down and added id -->
          <use href='{{ url_for("static", filename="mortar-pestle-solid.svg") }}#mortar'/>
        </svg>
        <p class="my-2">
          Lead white was often mixed with other colours to create tints from paints. To show the effects of lead white mixing, every paint has been mixed with 50% v/v lead white.
        </p>
      </div>

    </div>

    <!-- Pigment checker boards -->
    <section class="board-section container grid">

      {% for board in BOARDS.values() %}

        <div class="board">
          <a href='{{ url_for("board", colour=board.url) }}'>
            <div class="overlay">
              <img src="static\images\boards\{{ board.img }}">
              <div class="overlay-text">{{ board.text }}</div>
            </div>
          </a>
        </div>

      {% endfor %}
      
    </section>

  </div>

{% endblock %}